@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/*remove default css of everything and create my own*/
* {
  /*margin and padding should be 0*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*here we target the list (about, projects, and contact) and remove the bullet-points from them*/
li {
    list-style-type: none;
  }

/*targeting paragraph all paragraph tags*/
p {
    /*creates space between lines of text*/
    line-height: 1.5;
    font-size: 16px;
  }
  
  /*removed underlines and dots from all anchor tags*/
  a {
    text-decoration: none;
  }
  
  /*add cursor: pointer over the email icon in bottom right corner.
  when hovering over button the cursor will change*/
  button {
    cursor: pointer;
  }

  /*this color targets every color/entire project*/
  section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
  }

/*create space around "Here are some of my projects" container*/
.container {
  padding: 50px 0;
   /*this affects the footer making the container 100% of the width*/
  width: 100%;
}

/*spacing on sides*/
.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

/*styling click class on the icon links (linkedin, github, pdf, and dark/light modr contrast icon for animation*/
/*this causes a smooth transition*/
.click {
  cursor: pointer;
  transition: all 300ms ease;
}

/*causes icon to get bigger when hovering over it*/
.click:hover {
  transform: scale(1.1);
}

/*when clicking icon it becomes smaller*/
.click:active {
  transform: scale(0.8);
}

/*Hey I'm Brooklynn Text*/ 
.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

/*I'm Brooklynn, Software Engineer, and about me*/

.orange {
  color: #f06449 !important;
}

/*this is the parent. eveything becomes relative to this*/
.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  /*the lines under the links resting place is to the right*/
  right: 0;
  /*make a smooth transition*/
  transition: all 300ms ease;
}

/*this is for the links in the footer. I had to do this because the background
in the footer is black so I had to make this hover effect for white text 
so it could show up in the footer*/
.link__hover-effect--white:after {
  background-color: #fff;
}

.link__hover-effect--black:after {
  background-color: #242424;
}

/*when we hover over the animation will come from the left.
width will only be given when hovering over links*/
/*the animation wont happen unless we put after*/
.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

/* 

  LANDING PAGE
  
*/

/*target id of landing page and set to 100vh so we don't go to the next section ever*/
#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    /*this puts text in the middle (top, left, and transform)*/
    top: 50%;
    left: 50%;
    /*This puts text in the middle*/
    transform: translate(-50%, -50%);
    /*make text responsive. never go under 100%*/
    width: 100%;
    max-width: 1000px;
    /*add padding on the sides 30px*/
    padding: 0 30px;
  }
  
  /*targeting I'm a Software engineer paragraph*/
  .header__para {
    font-size: 24px;
    line-height: 2;
    /*added max width so the text wont spand the entire width of the page*/
    max-width: 450px;
  }
  
  /*make icons (linkedin, github, pdf) bigger and space them out*/
  .social__list {
    margin-top: 16px;
    /*THIS IS WHAT MAKES THE ICONS SIDE BY SIDE*/
    display: flex;
  }
  
  /*target each individual icon/link (linkedin, github, and pdf)*/
  .social__link {
    background-color: #f06449;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    /*space to the right of each icon*/
    margin-right: 12px;
    /*text-align: center would work if this was text, but we are dealing with elements so we do display: flex and justify-content: center */
    display: flex;
    justify-content: center;
    /*this centers the icons vertically*/
    align-items: center;
    /*this makes icons a circle*/
    border-radius: 50%;
  }
  
  /*email icon in bottom right corner*/
  .mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    /*position at bottom right with position, bottom, and right*/
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
  }
  
  /*targets scroll*/
  .scroll {
    /*don't want to ruin any other elements, want it by itself*/
    position: absolute;
    bottom: 20px;
    /*this centers the element*/
    left: 50%;
    /*every time you use position: absolute you always need to transform it back 50%*/
    /*we are only transforming it to the left so use X. You can use Y if transforming it up or down*/
    transform: translateX(-50%);
  }
  
  .scroll__icon {
    width: 20px;
    height: 30px;
    /*this causes the scroll to be visible*/
    border: 2px solid #242424;
    border-radius: 24px;
    /*this makes scroll visible. displa, align-items, justify-content*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*creating animation for scroll element*/
  .scroll__icon:after {
    /*b/c scroll is a suiter element you have to set content even if it's to nothing*/
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    /*makes scroll round**/
    border-radius: 2px;
    /*keyframes only works with this animation. 1000ms = 1 sec. alternate-reverse makes the scroll smooth and slow compared to quick up and down motions*/
    animation: scroll 1000ms infinite alternate-reverse;
  }
  
  /*this creates animation in css @keyframes (then put class)*/
  @keyframes scroll {
    /*this makes the scroll go up and down*/
    0% {
      transform: translateY(3px);
    }
    
    100% {
      transform: translateY(-3px);
    }
  }  

/* 

  NAVIGATION 
  
*/

/*set logo to the left and set links to the right*/
nav {
    /*display and justify-content will send logo and links to opposite sides of page*/
    display: flex;
    justify-content: space-between;
    /* center ul list (about, contact, etc) the nav section and style */
    align-items: center;
    /* make responsive */
    width: 100%;
    max-width: 1200px;
    /* centers everything 0=top and bottom, auto=left and right*/
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
  }
  
  /*use # for id's*/
  /*Logo in nav bar*/
  #personal-logo {
    /*height and width of logo*/
    width: 50px;
    height: 50px;
    /*inverting a filter turns it black from white*/
    filter: invert(1);
  }
  
  /*here we target the unordered links in the nav bar and change them from being 
  on top of each other, to them being stacked side by side*/
  .nav__link--list {
    display: flex;
  }
  
  /* this styles the links by adding space between them */
  .nav__link {
    margin: 0 12px;
  }
  
  /* we created this class because we will target these anchors separate from the dark mode button that we will be adding and targeting separately */
  /* all anchor elements */
  .nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
  }
  
  .fa-adjust {
    font-size: 20px;
  }

/* 

  MODAL 
  
*/

/*TARGET modal*/
.modal {
  /*with position, top, and left we center it*/
  position: absolute;
  top: 50%;
  left: 50%;
  /*this makes sure it's in the center*/
  transform: translate(-50%, -50%);
  /*making the width of the section*/
  width: 90%;
  /*I'm going to cap the width for users using large computers*/
  max-width: 1100px;
  height: 700px;
  /*box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);*/
  /*add border-radius to curve the edger and then do overflow; hidden to hide the overflow*/
  border-radius: 20px;
  overflow: hidden;
  /*we want to separate the halves right and left so I did display
  flex to bring the halves next to each other*/
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal{
  z-index: 60;
/*create a box for the section and do 0.55 spacity so it wont be as harsh in visibility*/
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

/*target the left side of the modal*/
.modal__half {
  /*make the halves even*/
  width: 50%;
  padding: 40px 72px;
  /*this put tech languages over each other*/
  display: flex;
  flex-direction: column;
  /*This centers everything on the right side of the modal*/
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact
{
  transform: translateX(0%);
}

/*target the left side and make it white*/
.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

/*tech languages*/
.modal__languages {
  /*put languages next to each other*/
  display: flex;
  /*this starts a new row once it hits 4 tech imgs*/
  flex-wrap: wrap;
}

/*target modal tech languages*/
/*this is the tech img language wrapper, which is the tech imgs*/
.modal__language {
  /*25% because I have 4 languages per line of text*/
  width: 25%;
  /*add space around tech languages*/
  padding: 16px;
  position: relative;
  /*this centers the text. specifically display,flex-direction, and align-items*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*when we hover over img the brightness and scaling will happen smoothly*/
  transition: all 300ms ease;
}

/*this allows the text language to only show when hovering over that specific tech img*/
.modal__language:hover .language__name {
  transform: scale(1);
}

/*when user hovers over img it will get a shade and scale the img to be smaller when hovering over it */
.modal__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

/*this is targeting the text img under the tech imgs*/
.language__name {
  /*position the text specifically to the tech img*/
  position: absolute;
/**/
  bottom: -10px;
  transform: scale(0);
  /*the make sthe text under the tech imgs transition and show up smoothly*/
  transition: all 300ms ease;
}

/*this is a width that is 100% of the parent. VERY IMPORTANRT. The imgs will go from
being stacked on top of each other to being side by side and responsive*/
.modal__language--img {
  width: 100%;
}


/*target the right side and make background color black*/
.modal__contact {
  transform: translateX(110%);
  background-color: #242424;
  /*making color of text white*/
  color: white;
}

/*This targets "Here's a bit about me*/
.modal__title {
  font-size: 26px;
}

/*This targets "Software Engineer" title*/
.modal__sub-title {
  /*here we create space around the title*/
  margin: 12px 0 24px 0;
  font-size: 14px;
}

/*This targets the paragraph*/
.modal__para {
  /*this creates space between tech languages and the bottom of the paragraph*/
  margin-bottom: 12px;
  /*this creates space between lines of text in the paragraph*/
  line-height: 1.75;
}

  /* 

  PROJECTS 
  
*/


/*targeting "Here are some of my projects"*/
.section__title {
    /*center text*/
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
  }
  
  .project {
    margin-bottom: 135px;
  }
  
  /*project image box width size 100% to make it responsive*/
  .project__img {
    width: 100%;
    /*when we hover over project img there will be a smooth transition*/
    transition: all 600ms ease;
  }
  
  /*make the wrapper relative so the description can be made position: absolute which will make the text position absolute(position on the image specifically) relative to the actual image*/
  .project__wrapper {
    position: relative;
    /*this rounds the entire img/containers corners*/
    border-radius: 20px;
    /*0.45 is opacity*/
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    /*border-radius was done to round the edges but the img is still over flowing so we want to hide the over flow so we can see the rounded corners*/
    overflow: hidden;
  }
  
  /*project__wrapper is the parent */
  .project__wrapper:hover .project__description {
    opacity: 1;
    /*whenever you do top:50% (in position__description) you need to do translateY(-50%) to get it in the middle of the Y axis
    every time you do left: 50% you need to do transform: translateX(-50%) to center when doing absolute*/
    transform: translateY(-50%);
  }
  
  /*project background blows up and transforms/animates be 1.07 when we hover over it and I blured it*/
  .project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
  }
  
  .project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    /*this centers the description text*/
    transform: translateY(100%);
    /*description is hidden in its normal state but when you hover over it, it becomes an opacity of 1 which is in the 
    project__wrapper: hover project__description section*/
    opacity: 0;
    /*this makes for a smooth transition*/
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
  }
  
  .project__wrapper:hover .project__wrapper--bg {
    /*background will be visible with light dark shade over it from opacity 0.7*/
    opacity: 0.7; 
    visibility: visible;
  }
  
  .project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    /*makes background color transparent*/
    opacity: 0; 
    transition: all 450ms ease;
    visibility: hidden;
  }
  
  /*targeting the description title text*/
  .project__description--title {
    font-size: 40px;
  }
  
  /*techologies description section*/
  .project__description--sub-title {
    /*creating space between title and technologies on top of technologies*/
    margin-top: 8px;
  }
  
  /*targeting the github and other link in description section*/
  .project__description--link {
    color: white;
    font-size: 20px;
    /*space the icons out from one another*/
    margin-right: 16px;
  }
  
  /*paragraph section of the description section (not technologies)*/
  .project__description--para {
    /*creating space on top and bottom*/
    margin: 16px 0;
  }


/* 

  FOOTER 
  
*/

/*here I target my footer*/
footer {
  position: relative;
  background-color: #242424;
  /*bring everything next to each other*/
  display: flex;
  /*add padding around elements*/
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  /*align-items center normally centers vertically and will have it nect to the personal logo, but since
  we combined it with flex-direction: column it will now align it horizontally putting it under the personal logo*/
  align-items: center;
}

/*targeting  personal logo in footer*/
.footer__logo--img {
  width: 70px;
  /*height: 70px remove this so the img wont be cut off and the margin will now be even*/
}

.footer__social--list {
  /*span the entire width of the page in footer and make responsive with width: 100%*/
  width: 100%;
  /*bring links a little closer together after being spaced out by justify-content: space-around*/
  max-width: 500px;
  /*brings everything next to each other to have more control*/
  display: flex;
  /*create space between links*/
  justify-content: space-around;
  margin: 28px 0;
}

/*tutrn links and copyright statement white*/
.footer__social--link,
.footer__copyright {
  color: white;
}